.idea/
.idea\
venv/
allureResult/
.pytest_cache/
*.pyc
*.pyc
*.png
*.png
*.log
*.png
*.iml
*.pyc
*.pyc
*.pyc
*.pyc
*.json
*.txt
*.pyc
*.pyc
*.pyc
*.xml
*.iml
.idea/vcs.xml
/.pytest_cache/
*.xml
.idea/misc.xml
.idea/pytest.iml
.idea/misc.xml
.idea/pytest.iml
confHelper/configHelperIOS/standards.py
